header{

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

background:#0f0f0fdc;

backdrop-filter:blur(8px);

border-bottom:1px solid var(--border);

}

.navbar{

max-width:var(--container);

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 25px;

}

.logo{

display:flex;

align-items:center;

gap:12px;

}

.logo img{

width:55px;

height:55px;

border-radius:50%;

}

.logo span{

font-size:22px;

font-weight:700;

color:var(--gold);

}

.nav-links{

display:flex;

gap:35px;

}

.nav-links a{

transition:var(--transition);

font-weight:500;

}

.nav-links a:hover{

color:var(--gold);

}

.menu-btn{

display:none;

font-size:30px;

cursor:pointer;

}