.hero-buttons{

display:flex;

gap:20px;

}

.btn{

padding:16px 34px;

border-radius:12px;

font-weight:600;

transition:.35s;

display:inline-block;

}

.gold{

background:var(--gold);

color:#000;

}

.gold:hover{

transform:translateY(-5px);

background:var(--gold-hover);

}

.white{

border:2px solid var(--gold);

}

.white:hover{

background:var(--gold);

color:#000;

transform:translateY(-5px);

}